# python
__pycache__

# mac files
.DS_Store

# virtual environment
.venv

# sql
database/*
!database/db_create.sql

# boring logs from the server
logs
*.log

# matplot or other picture files
lock_block_plot.png

# strategies / clutter
research/

# environment
.env*